Repository dask/dask: changes, and which Codecov flags are due for each by the changed paths.
All: array, bag, bytes, dataframe, diagnostics, tests

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: 90..100

  status:
    project:
      default: off
      array:
        flags: array
      bag:
        flags: bag
      bytes:
        flags: bytes
      dataframe:
        flags: dataframe
      diagnostics:
        flags: diagnostics
      tests:
        flags: tests

flags:
  array:
    paths:
      - dask/array
  bag:
    paths:
      - dask/bag
  bytes:
    paths:
      - dask/bytes
  dataframe:
    paths:
      - dask/dataframe
  diagnostics:
    paths:
      - dask/diagnostics
  tests:
    paths:
      - dask/tests

comment: off

Give informative meta= warning (#4637)
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Due: dataframe

Use default codecov project
  .codecov.yml
Due: none

correct to_parquet example in docs
  dask/dataframe/io/parquet.py
Due: dataframe

correct to_parquet example in docs (#4641)
  dask/dataframe/io/parquet.py
Due: dataframe

Add informative error message to Series.__getitem__ (#4638)
  dask/dataframe/core.py
Due: dataframe

Fix limit value in auto_chunks
  dask/array/core.py
  dask/array/tests/test_array_core.py
Due: array

Ensure that we use the dtype keyword in normalize_chunks
  dask/array/creation.py
Due: array

fix ordering of quantiles in describe.
  dask/dataframe/core.py
Due: dataframe

add min_count parameter to sum method on groupby
  dask/dataframe/groupby.py
Due: dataframe

add tests for min_count parameter in sum method on groupby
  dask/dataframe/tests/test_groupby.py
Due: dataframe

remove debug message
  dask/dataframe/groupby.py
Due: dataframe

Update and secure several references
  .github/CONTRIBUTING.md
  README.rst
  appveyor.yml
  continuous_integration/appveyor/run_with_env.cmd
  continuous_integration/hdfs/Dockerfile
  dask/array/gufunc.py
  dask/array/linalg.py
  dask/array/stats.py
  dask/array/ufunc.py
  docs/source/array-creation.rst
  docs/source/array-gufunc.rst
  docs/source/array-linear-operator.rst
  docs/source/array-overlap.rst
  docs/source/bag-overview.rst
  docs/source/changelog.rst
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/dataframe-categoricals.rst
  docs/source/dataframe-performance.rst
  docs/source/develop.rst
  docs/source/funding.rst
  docs/source/remote-data-services.rst
  docs/source/setup/adaptive.rst
  docs/source/setup/cloud.rst
  docs/source/setup/hpc.rst
  docs/source/setup/kubernetes-helm.rst
  docs/source/spark.rst
  docs/source/support.rst
  docs/source/understanding-performance.rst
  docs/source/use-cases.rst
  setup.py
  versioneer.py
Due: array

add prod method also
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Due: dataframe

correct quantile to handle unsorted quantiles
  dask/dataframe/core.py
Due: dataframe

added test for describe with unsorted q parameter
  dask/dataframe/tests/test_dataframe.py
Due: dataframe

added tests for unsorted arg to quantile
  dask/dataframe/tests/test_dataframe.py
Due: dataframe

moved sorting of quantiles before index is created
  dask/dataframe/core.py
Due: dataframe

Update test_dataframe.py
  dask/dataframe/tests/test_dataframe.py
Due: dataframe

clearer exception message when using index or index_col in read_csv
  dask/dataframe/io/csv.py
Due: dataframe

Enable codecov (#4631)
  .codecov.yml
  .coveragerc
  .travis.yml
  continuous_integration/travis/install.sh
Due: none

Update and secure several references (#4649)
  .github/CONTRIBUTING.md
  README.rst
  appveyor.yml
  continuous_integration/appveyor/run_with_env.cmd
  continuous_integration/hdfs/Dockerfile
  dask/array/gufunc.py
  dask/array/linalg.py
  dask/array/stats.py
  dask/array/ufunc.py
  docs/source/array-creation.rst
  docs/source/array-gufunc.rst
  docs/source/array-linear-operator.rst
  docs/source/array-overlap.rst
  docs/source/bag-overview.rst
  docs/source/changelog.rst
  docs/source/cite.rst
  docs/source/conf.py
  docs/source/dataframe-categoricals.rst
  docs/source/dataframe-performance.rst
  docs/source/develop.rst
  docs/source/funding.rst
  docs/source/remote-data-services.rst
  docs/source/setup/adaptive.rst
  docs/source/setup/cloud.rst
  docs/source/setup/hpc.rst
  docs/source/setup/kubernetes-helm.rst
  docs/source/spark.rst
  docs/source/support.rst
  docs/source/understanding-performance.rst
  docs/source/use-cases.rst
  setup.py
  versioneer.py
Due: array

avoid modifying argument to quantile()
  dask/dataframe/core.py
Due: dataframe

bump version to 1.26.1
  docs/source/changelog.rst
Due: none

leave q arg to quantiles alone if scalar
  dask/dataframe/core.py
Due: dataframe

Ensure that we use the dtype keyword in normalize_chunks (#4646)
  dask/array/creation.py
Due: array

clearer exception message when using index or index_col in read_csv (#4651)
  dask/dataframe/io/csv.py
Due: dataframe

eliminated trailing whitespace
  dask/dataframe/core.py
Due: dataframe

testing quantile added length 1 list and scalar case
  dask/dataframe/tests/test_dataframe.py
Due: dataframe

Remove check for mean in is_dataframe_like
  dask/dataframe/utils.py
Due: dataframe

bump version to 1.1.5
  docs/source/changelog.rst
Due: none

correct quantile to handle unsorted quantiles (#4650)
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Due: dataframe
